<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149204024907-5c17dsr8p8c74hsuoesrk2u55oqrridh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149204024907-5c17dsr8p8c74hsuoesrk2u55oqrridh</string>
	<key>API_KEY</key>
	<string>AIzaSyCUIYuqPJ6eN303PAKI4-RAJacNb1GhEu0</string>
	<key>GCM_SENDER_ID</key>
	<string>149204024907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blue.re</string>
	<key>PROJECT_ID</key>
	<string>clearviewhcm-mobile-999</string>
	<key>STORAGE_BUCKET</key>
	<string>clearviewhcm-mobile-999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149204024907:ios:d887378c554c2bd98e57ce</string>
</dict>
</plist>